body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #185182;
}

h1 {
  font-size: 100px;
  color: #F8B5B6;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}

h1::before {
  content: "#ILoveCat";
  position: absolute;
  top: 0%;
  left: 0%;
  color:#21d51e;
  width: 0%;
  overflow: hidden;
  transition: all 1s;
  font-family: 'Times New Roman', Times, serif;
}

h1:hover::before {
  width: 100%;
}